body {
    text-align: center;
    font-family: 'Press Start 2P', cursive;
    background-color: purple;
    color: white;
    animation: colorChange 2s infinite alternate;
}
@keyframes colorChange {
    from { background-color: purple; }
    to { background-color: blue; }
}
.container {
    margin-top: 20vh;
}
button {
    padding: 10px 20px;
    font-size: 18px;
    margin: 10px;
    cursor: pointer;
    border: none;
    font-family: 'Press Start 2P', cursive;
    background-color: black;
    color: white;
    border-radius: 10px;
    position: absolute;
}
#sim {
    left: 50%;
    transform: translateX(-50%);
}
