body {
    text-align: center;
    font-family: Arial, sans-serif;
    transition: background-color 0.5s;
}
.container {
    margin-top: 20vh;
}
button {
    padding: 10px 20px;
    font-size: 18px;
    margin: 10px;
    cursor: pointer;
    position: absolute;
}
#sim {
    left: 50%;
    transform: translateX(-50%);
}

